@tailwind base;
@tailwind components;
@font-face{
    font-family: "Ubuntu-bold";
    src: url("./fonts/Ubuntu-Bold.ttf")
}

@font-face{
  font-family: "Ubuntu-Medium";
  src: url("./fonts/Ubuntu-Medium.ttf")
}

@font-face{
  font-family: "Ubuntu-Regular";
  src: url("./fonts/Ubuntu-Regular.ttf")
}

*{
  color: hsl(213, 96%, 18%); 
}

h1 {
  font-family: "Ubuntu-bold";
}

P {
  font-family: "Ubuntu-Regular";
}

.steps {
  font-family: "Ubuntu-Medium";
}

.form {
  height: 550px;
}

.btn {
  background-color: hsl(213, 96%, 18%);
  color: white;
}

.switch {
  background-color: hsl(213, 96%, 18%);
}

.option:hover {
  border: 2px solid blue;
}

.selectedOption {
  background-color: hsl(206, 94%, 87%);
  border: 2px solid blue;
} 

/* TOGGLE DESIGN */

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  border-radius: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50px;
}

input:checked + .slider:before {
  transform: translate(26px);
}

@tailwind utilities;
